body {
  /* Margin top by navbar height */
  margin-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* For Scrollspy */
  position: relative;

  background-color: #252525;
}

/* Menu */
.navbar {
  text-transform: uppercase;
  background-color: #252525;
}


@media screen and (max-width: 1080px) {
  .navbar a.nav-link.active {
    border-bottom: 3px solid white;
    font-weight: normal;
  }
  .navbar .nav-item { line-height: 0.8; }
}


@media screen and (max-width: 575px) {
  .navbar a.nav-link.active {
    border: none; 
    font-weight: bold;
  }
  .navbar .nav-item { line-height: 2; }
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #252525;
}

.padding
{
  padding-top: 60px;
}

/* Background for Home */
.bg-home {
  /* min-height: 500px; */
  background-image: url(../images/main.pn_);
  background-repeat: no-repeat;
  background-position: 70% 80px;  
  background-attachment: fixed;
  /* overflow-x: visible; */
  /* overflow: visible; */
  /*  background-origin: padding-box; */
  /* background-size: cover; */
}

.bg-about {
  /* min-height: 500px; */
  background-image: url(../images/fractal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* overflow-x: visible; */
  /* overflow: visible; */
  /*  background-origin: padding-box; */
  /* background-size: cover; */
}
